/*reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*layout*/
body {
  background-color: #355C7D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -o-linear-gradient(transparent, black);
  background-image: -webkit-linear-gradient(transparent, black);
  background-image: -moz-linear-gradient(transparent, black);
  background-image: -ms-linear-gradient(transparent, black);
  background-image: linear-gradient(transparent, black);
  transition: background-color 1s ease;
}