/*reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*layout*/
body {
  background-color: #355C7D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}